<div class="ui container">
    <h1 style="padding-top: 2rem; text-align: center;">Angular CRUD</h1>
    <div class="ui form">
        <div class="field">
            <label>Nama Barang</label>
            <input type="text">
        </div>
        <div class="field">
            <label>Stok</label>
            <input type="number">
        </div>
        <div class="field">
            <label>Harga</label>
            <input type="number">
        </div>
        <div class="ui inverted primary button">Simpan</div>
    </div>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Nama Barang</th>
                <th>Stok</th>
                <th>Harga</th>
                <th class="ui center aligned">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Nama Barang">James</td>
                <td data-label="Stok">24</td>
                <td data-label="Harga">Engineer</td>
                <td data-label="Aksi" class="ui center aligned">
                    <div class="ui buttons">
                        <button class="ui positive button">Edit</button>
                        <div class="or" data-text="/"></div>
                        <button class="ui button">Hapus</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-label="Nama Barang">Jill</td>
                <td data-label="Stok">26</td>
                <td data-label="Harga">Engineer</td>
                <td data-label="Aksi" class="ui center aligned">
                    <div class="ui buttons">
                        <button class="ui positive button">Edit</button>
                        <div class="or" data-text="/"></div>
                        <button class="ui button">Hapus</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td data-label="Nama Barang">Jill</td>
                <td data-label="Stok">26</td>
                <td data-label="Harga">Engineer</td>
                <td data-label="Aksi" class="ui center aligned">
                    <div class="ui buttons">
                        <button class="ui positive button">Edit</button>
                        <div class="or" data-text="/"></div>
                        <button class="ui button">Hapus</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>